<div class="container">
  <% if(jsonArray && jsonArray.length > 0) { let keys =
  Object.keys(jsonArray[0]); %>
  <table class="table table-bordered">
    <caption>
      <h2><%= name %></h2>
    </caption>
    <thead>
      <tr>
        <% for(let i = 0; i < keys.length; i++){ %>
        <th>
          <%= keys[i] %>
        </th>
        <% } %>
      </tr>
    </thead>
    <tbody>
      <% for(jsonObj of jsonArray){ %>
      <tr>
        <% for (key in jsonObj) { %>
        <td>
          <%= jsonObj[key] %>
        </td>
        <% } %>
      </tr>
      <% } %>
    </tbody>
  </table>
  <% }%>
</div>
